<p>
	<h2><%= @details.name %></h2>
	ID: <%= @details.id %> <br>
	On: <%= @details.on %> <br>
	Brightness: <%= @details.bri %> <br>
	Hue: <%= @details.hue %> <br>
	Saturation: <%= @details.sat%> <br>
	XY: <%= @details.xy %> <br>
	CT: <%= @details.ct %> <br>
	Transition time: <%= @details.transitiontime %> <br>
	Color mode: <%= @details.colormode %> <br>
	Effect: <%= @details.effect %> <br>
	Reachable: <%= @details.reachable %> <br>
	Alert: <%= @details.alert %> <br>
</p>